{% extends 'base.html.twig' %}

{% block title %}Cart
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<div class="row mt-4 m-3 text-center">
		<h1></h1>
		<div class="row">
			<div class="col-8">
				<table class="table table-success table-striped">
			<thead>
				<th>Id</th>
				<th>Image</th>
				<th>Name</th>
				<th>Price</th>
			</thead>
			<tbody>
			{% set total = 0 %}
				{% for item in items %}
				{% set total = total + item.getProducts().getPrice() %}
					<tr>
						<td>{{item.getProducts().getId()}}</td>
						<td><img src="{{item.getProducts().getImage()}}" alt="" width="100" height="100"></td>
						<td>{{item.getProducts().getName()}}</td>
						<td>{{item.getProducts().getPrice()}}</td>
					</tr>              
				{% endfor %}
			</tbody>
		</table>
			</div>
			<div class="col">
				Total:<p>{{total}}</p>
                <a href="{{path('cart_sent_order', {'user': app.user.getId()})}}"><button class = "btn btn-primary">Send order</button></a>    
			</div>
		</div>
		
	</div>

{% endblock %}
