{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	{% for flash in app.flashes("Success") %}
		<p class="alert alert-primary">{{ flash }}</p>
	{% endfor %}
	{% for flash in app.flashes("Error") %}
		<p class="alert alert-danger">{{ flash }}</p>
	{% endfor %}
	<div class="container px-4">
	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
	<a href="{{ path('app_category_add')}}"><button class = "btn btn-primary">Add new category</button></a>
	</div?
		<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
			{% for item in categories %}
				<div class="p-3 border bg-light">
						<div class="p-3 border bg-light">{{item.name}}</div>
                    <a href="{{ path('app_category_delete', {'id' : item.id })}}">
						<button class="btn btn-danger">Delete</button>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
