{% extends 'base.html.twig' %}

{% block title %}History
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<div class="row mt-4 m-3 text-center">
		<h1></h1>
		<div class="row">
			<div class="col-10">
				<table class="table table-success table-striped">
					<thead>
						<th>Customer</th>
						<th>Image</th>
						<th>Name</th>
						<th>Price</th>
						<th>Status</th>
						<th>Action</th>

					</thead>
					<tbody>
						{% for item in items %}
							{% if item.getStatus() == 'ordering' %}
								<tr>
									<td>{{item.getUser().getUsername()}}</td>
									<td><img src="{{item.getProducts().getImage()}}" alt="" width="100" height="100"></td>
									<td>{{item.getProducts().getName()}}</td>
									<td>{{item.getProducts().getPrice()}}</td>
									<td>{{item.getStatus()}}</td>
                                    <td>
                                    <a href="{{path('cart_accept_order', {'id': item.id})}}"><button class="btn btn-primary">Deliver</button></a><br>
                                    <a href="{{path('cart_deny_order', {'id': item.id})}}"><button class="btn btn-danger">Cancel</button></a>
                                    </td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col">
				<a href="">
					<button class="btn btn-danger">Cancel</button>
				</a>

			</div>
		</div>

		<div class="row">
			<div class="col-10">
				<table class="table table-success table-striped">
					<thead>
						<th>Customer</th>
						<th>Image</th>
						<th>Name</th>
						<th>Price</th>
						<th>Status</th>
						<th>Action</th>
					</thead>
					<tbody>

						{% for item in items %}
							{% if item.getStatus() == 'deliver' %}
								<tr>
									<td>{{item.getUser().getUsername()}}</td>
									<td><img src="{{item.getProducts().getImage()}}" alt="" width="100" height="100"></td>
									<td>{{item.getProducts().getName()}}</td>
									<td>{{item.getProducts().getPrice()}}</td>
									<td>{{item.getStatus()}}</td>
                                    <td><a href=""><button class="btn btn-primary">Contact</button></a></td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col">
				sdsd
			</div>
		</div>

        
		<div class="row">
			<div class="col-10">
				<table class="table table-success table-striped">
					<thead>
						<th>Customer</th>
						<th>Image</th>
						<th>Name</th>
						<th>Price</th>
						<th>Status</th>
						<th>Action</th>
					</thead>
					<tbody>

						{% for item in items %}
							{% if item.getStatus() == 'done' %}
								<tr>
									<td>{{item.getUser().getUsername()}}</td>
									<td><img src="{{item.getProducts().getImage()}}" alt="" width="100" height="100"></td>
									<td>{{item.getProducts().getName()}}</td>
									<td>{{item.getProducts().getPrice()}}</td>
									<td>{{item.getStatus()}}</td>
                                    <td><a href=""><button class="btn btn-primary">Đã nhận hàng</button></a></td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col">
				sdsd
			</div>
		</div>
	</div>

{% endblock %}
