{% extends "base.html.twig" %}
{% block body %}
	<div class="row mt-4 m-3">
		<div class="container overflow-hidden">
			<div class="row">
				<div class="col">
					<div class="p-3"><img src="{{ product.image }}" width="400" height="400"></div>
				</div>
				<div class="col">
					<div class="p-3">
						<h1 class="text text-danger">{{ product.name }}</h1>
						<h3 class="text text-primary">Price:</h3>
						{{ product.price }}
						VND
						<h3 class="text text-primary">Category:
							{% for item in product.category %}
								<a class="text-decoration-none" href="{{ path('app_product_detail', {'id' : item.id })}}">
									<h5 class="text text-success">{{ item.name }}
									</h5>
								</a>
							{% endfor %}
						</h3>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('app_product_delete', {'id' : product.id })}}">
							<button class="btn btn-danger">Delete</button>
						</a>
						<a href="{{ path('app_product_edit', {'id' : product.id })}}">
							<button class="btn btn-primary">Edit</button>
						</a>
					{% endif %}

					<a href="{{ path('app_cart_add', {'id' : product.id, 'user': app.user.getId()})}}">
						<button class="btn btn-primary">Add to cart</button>
					</a>

				</div>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
